@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Onest", sans-serif;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin-top: 120px;
}

.scroll-column {
  overflow: hidden;
}

.scroll-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation: scrollUpLinear 20s linear infinite;
}

.scroll-inner-delay {
  animation-delay: -10s;
}

@keyframes scrollUpLinear {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
