@import "tailwindcss";

body {
  background: white;
  font-family: "Onest", sans-serif;
}

.container {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 20px;
}
.container_content {
  width: calc(100% - 60px);
  margin: 0 auto;
}
.section {
  margin-top: 120px;
}

@media (max-width: 1399px) {
  .section {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .container_content {
    width: 100%;
  }
}

.scroll-column {
  overflow: hidden;
}

.scroll-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation: scrollUpLinear 20s linear infinite;
}

.scroll-inner-delay {
  animation-delay: -10s;
}

@keyframes scrollUpLinear {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

button {
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}
